$black: #000;
$white: #fff;

// https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=A1887F&secondary.color=5D4037

$app-bar-height: 64px;
$std-width: 1024px;
$std-height: 768px;
$primary-color: #a1887f !default;
$primary-color-light: #d3b8ae !default;
$primary-color-dark: #725b53 !default;
$text-on-primary: #000000 !default;
$secondary-color: #5d4037 !default;
$secondary-color-light: #8b6b61 !default;
$secondary-color-dark: #321911 !default;
$text-on-secondary: #ffffff !default;

$mdc-theme-primary: $primary-color;
$mdc-theme-secondary: $secondary-color;
$mdc-theme-on-primary: $text-on-primary;
$mdc-theme-on-secondary: $text-on-secondary;

// $success-color: color("green", "base") !default;
// $error-color: color("red", "base") !default;

// $link-color: color("light-blue", "darken-1") !default;

/*** More variables not shown here.. ***/
