<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <script src='/javascripts/material-components-web.min.js'></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/material-components-web.min.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>
  <% include common/header %>
  <% include common/aside %>
  lasttest
</body>
<script>

  // mdc.ripple.MDCRipple.attachTo(document.querySelector('.foo-button'));
  // const list = mdc.list.MDCList.attachTo(document.querySelector('.mdc-list'));
  // list.wrapFocus = true;
  // const drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
  // const topAppBar = mdc.topAppBar.MDCTopAppBar.attachTo(document.getElementById('app-bar'));
  // topAppBar.setScrollTarget(document.getElementById('main-content'));
  // topAppBar.listen('MDCTopAppBar:nav', () => {
  //   drawer.open = !drawer.open;
  // });

</script>

</html>