<aside id="main-aside" class="aside mdc-drawer mdc-drawer--dismissible position-fixed">
    <%
        const drawer_data = [{
            icon: "contacts",
            text: "About Me"
        }, {
          icon: "view_list", 
          text: "Post" 
        }, {
          icon: "format_list_numbered",
          text: "License"
        }];
        %>
    <div class="aside mdc-drawer__content">
        <nav class="aside mdc-list">
            <% for(var i=0; i < drawer_data.length; i++) { %>
            <a class="aside creco-theme-text mdc-list-item mdc-list-item--activated" href="#" aria-selected="true">
                <i class="aside creco-theme-text material-icons mdc-list-item__graphic" aria-hidden="true">
                    <%= drawer_data[i].icon %></i>
                </i>
                <span class="aside creco-theme-text mdc-list-item__text">
                    <%= drawer_data[i].text %></span>
            </a>
            <% } %>
        </nav>
    </div>
</aside>